services:
  next:
    image: juyoungk09/spark-homepage-admin:latest
    container_name: spark-homepage-admin
    ports:
      - "3001:3000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: always
